<app-film title="Shutter Island" year="2009" image="https://m.media-amazon.com/images/I/81FNja+9-iL._SL1500_.jpg"></app-film>
<app-film title="Seven" year="1995" image="https://m.media-amazon.com/images/I/51VQ890AJML.jpg"></app-film>
<app-film title="Lock, Stock and Two Smoking Barrels" year="1998" image="https://resizing.flixster.com/KH8SHNtqL6Iy4_bOhkBjjCx7yFg=/206x305/v2/https://flxt.tmsimg.com/assets/p22639_p_v10_ab.jpg"></app-film>

