.container {
  max-width: available;
  margin: 0 auto;
}

.header {
  background-color: darkgrey;
  background-size: cover;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 15px;
  margin-top: -8px;
}

.main-nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li{
  display: inline-block;
  margin-left: 35px;
}

.main-nav a{
  text-decoration: none;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
