<div class="container">
    <header class="header">
      <div class="header-top">
        <nav class="main-nav">
          <ul>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="#">Premier</a>
            </li>
            <li>
              <a href="#">Discount</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
</div>

