footer{
  background-color: darkgrey;
}

.container {
  max-width: available;
  margin: 0 auto;
}

.footer-block{
  display: flex;
  flex-direction: row;
}

.footer-txt{
  width: 50%;
  padding-top: 20px;
  font-size: 13px;
  color: white;
}

.number{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: white;
  margin-left: 120px;
}

.number span{
  font-size: 22px;
}

.nav-block ul{
  list-style: none;
  padding: 0;
  margin: 0 0 0 80px;
  display: flex;
  justify-content: space-between;
}


