<footer>
  <div class="container">
    <div class="footer-block">
      <div class="footer-txt">
        <span>All contents © copyright 2014 Business Theme. All rights reserved Designed by : akhilwebfolio</span>
      </div>
      <div class="number">
        <p>Телефон:<span>+987 9976 999</span></p>
      </div>
    </div>
  </div>
</footer>
