<div class="sidebar">
  <div class="container">
    <div class="side-block">
      <h1>News</h1>
      <ul>
        <li>September 30, 2021<b>No time to die</b></li>
        <li>October 1, 2021<b>Venom: Let There Be Carnage</b></li>
        <li>October 1, 2021 <b>The Addams Family 2</b></li>
      </ul>
    </div>
  </div>
</div>
